doctype html
html(lang="en")
    head
        title Assignment 3: Connect to Backend API by AJAX
    body
        form(action="/getData", method="post") 
            label Please enter your number:
                input(type="number", name="number")
            button(type="submit") Get Result!