doctype html
html(lang="en")
    head
        title Assignment 5: HTTP Cookie
    body
        form(action="/trackName", method="post") 
            label Please enter your name: 
                input(type="text", name="username")
            button(type="submit") Submit