/* ================================= 
  Media Query
==================================== */

@media screen and (min-width: 500px) {
    .row {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    .col {
        width: 45%;
    }
}

@media screen and (min-width: 800px) {
    .horizontal-menu {
        display: flex;
    }
    li {
        padding-left: 2em;
        padding-bottom: 0;
    }
    .fa-bars {
        display: none;
    }
}
